* {
    margin-bottom: 0px;
    color: #290a6b;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, 'Trebuchet MS', sans-serif;
}

ul, h3 {
    color: rgb(0, 138, 41);
}

ul, li, p {
    margin: 0px;
}

ul, li {
    margin: 0px;
}

ul {
    margin: 50px;
}

div {
    border: 1px solid ;
    width: 400px;
}
